<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <h1>Welcome, <%= user.email %>!</h1>
    <p>Your role is: <%= user.role %></p>
    <a href="/logout">Logout</a>
</body>
</html>
